:root {
    --background: rgb(111,121,133);
    --font: rgb(253,253,253);
    --blue: rgb(0,71,113);
}

*{
    margin: 0;
}
.mainPage{
    background-color: rgb(111,121,133);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#currentWeatherDiv{
   display: flex;
    background-color: purple;
    height: 300px;
    width:500px;
    margin: 5px;
}
#citySearch{
    display: flex;
   
}
.cityList{
    
   padding: 5px;
}
.sectionOne{
    display: flex;
    background-color: green;
}
.sectionTwo{
    display: flex;
    background-color: black;
}
.rightColTwo{
    display: flex;
    flex-direction: row;
}
.rightColTwo{
    display: flex;
    flex-direction: column;
}
.colCards{
display: flex;
}
li {
   list-style: none;
}
