:root {
    --background: rgb(111,121,133);
    --font: rgb(253,253,253);
    --blue: rgb(0,71,113);
}

*{
    margin: 0;
    background-color: rgb(111,121,133);
}
.nav .navbar{
    background-color: rgb(111,121,133);
}
#cityName{
    background-color: rgb(190, 197, 205)
}
.mainPage{
    background-color: rgb(111,121,133);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#currentWeatherDiv  {
   display: flex;
    background-color: rgb(111,121,133);
    border: 8px solid rgb(133, 180, 238);
    border-radius: 5px;
    height: 450px;
    width:600px;
    margin: 5px;
    padding: 20px;
}
#citySearch{
    display: flex;
   
}
.cityList{
    border-radius: 5px;
   padding: 5px;
}
.sectionOne{
    display: flex;
    background-color: rgb(111,121,133);
}
.sectionTwo{
    display: flex;
    
}
.rightColTwo{
    display: flex;
    flex-direction: row;
}
.rightColTwo{
    display: flex;
    flex-direction: column;
}

li {
   list-style: none;
}
.golf {
    padding: 5px;
    width: 150px;
    height: 15pxx;
    color: white;
    border: solid rgb(133, 180, 238);
    border-radius: 8px;
    margin: 10px;
}
#soccer{
    /* border: solid rgb(133, 180, 238); */
}
.colCards {
    display: flex;
    background-color: rgb(111,121,133);
    /* border-bottom:15px solid rgb(133, 180, 238) ;
    border-top: 15px solid rgb(133, 180, 238);
    border-right: solid rgb(133, 180, 238); */
   
    /* height: 400px;
    width:600px;
    padding: 10px 200px; */

}
.colCards ul {
   
   
}

#fiveday {
    border: 8px solid rgb(133, 180, 238);
   padding: 5px;
   border-radius: 5px;
   height: 350px;
}
.dailyH2{
    border: none;
    font-size: 45px;
}
.currentSectionTwo .currentSectionONe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lsideCol{
margin: 20px;
}
#citySearch{
    margin: 5px;
    padding: 3px;
}