:root {
    --background: rgb(111,121,133);
    --font: rgb(253,253,253);
    --blue: rgb(0,71,113);
}

*{
    margin: 0;
    background-color: rgb(111,121,133);
}
.nav .navbar{
    background-color: rgb(111,121,133);
}
#cityName{
    background-color: rgb(190, 197, 205)
}
.mainPage{
    background-color: rgb(111,121,133);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sectionOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#currentWeatherDiv  {
   display: flex;
    background-color: rgb(111,121,133);
    border: solid rgb(133, 180, 238);
    height: 450px;
    width:600px;
    margin: 5px;
    padding: 20px;
}
#citySearch{
    display: flex;
   
}
.cityList{
    border-radius: 5px;
   padding: 5px;
}
.sectionOne{
    display: flex;
    background-color: rgb(111,121,133);
}
.sectionTwo{
    display: flex;
    
}
.rightColTwo{
    display: flex;
    flex-direction: row;
}
.rightColTwo{
    display: flex;
    flex-direction: column;
}

li {
   list-style: none;
}
.citySearch {
    padding: 5px;
}

.colCards {
    display: flex;
    background-color: rgb(111,121,133);
    border-bottom:15px solid rgb(133, 180, 238) ;
    border-top: 15px solid rgb(133, 180, 238);
    border-right: solid rgb(133, 180, 238);
   
    /* height: 400px;
    width:600px;
    padding: 10px 200px; */

}
.colCards ul {
    border-right: solid rgb(133, 180, 238);
   
}

h2 {
    border-left: 16px solid rgb(133, 180, 238);
   padding: 5px;
}
.dailyH2{
    border: none;
    font-size: 45px;
}
.currentSectionTwo .currentSectionONe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}