:root {
    --background: rgb(111,121,133);
    --font: rgb(253,253,253);
    --blue: rgb(0,71,113);
}

*{
    margin: 0;
}
.mainPage{
    background-color: rgb(111,121,133);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#currentWeatherDiv{
   
    background-color: purple;
    height: 50%;
    width: 300px
}
#citySearch{
    background-color: var(--blue);
}
.cityList{
    background-color: blue;
}
.sectionOne{
    background-color: green;
}
li {
   list-style: none;
}
